SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

NEXT_PUBLIC_SUPABASE_URL=https://uuzujpwokvfwetycdbii.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLIC_KEY=sb_publishable_5URGCCVCTCZ_I13ua0gGJg_cAm6Ln_E
SUPABASE_PRIVATE_KEY=